<h1>Welcome to the AdWords on Rails demo application</h1>

<p>Start by selecting an account.</p>

<div id="main-menu">
  <ol>
    <li><%= link_to("List Accounts", account_index_path) %>
    <li><%= link_to("Enter Test Account ID", account_input_path) %>
    <li><%= link_to("List Campaigns", campaign_index_path) %>
    <li><%= link_to("Retrieve a report", report_index_path) %>
  </ol>
</div>
